
<div class="w3-main scroll-area custom">

	<div class="max-width wider center">

		<div class="w3-container w3-row">
			<header class="cc w3-border-bottom" style="background: url(/ui/svg/team2.svg) no-repeat center right;background-size: contain">
				<div class="cr ci">
					<img class="x64" src="<%- Config.product.logo %>">
					<h1 class="text-stroke wm8 fit"><%- Config.product.name %></h1>
					<!-- <div style="background-image: url(/ui/svg/business-people.svg);background-size: contain;"></div> -->
				</div>
				<!-- <p class="wm8"><%- Config.company.desc %></p> -->
				<h4 class="inconsolata"><%- Config.product.desc %></h4>
			</header>

			<div class="w3-twothird">

				<div class="w3-panel w3-leftbar w3-sand smaller w3-margin-hor-12" style="max-width: 450px;">
					<p ><b>Note: </b>Only invited users can login</p>
				</div>

				<form action="/login" method="post" class="login w3-card-2 w3-margin-bottom">
					<div class="imgcontainer">
						<img src="/ui/png/img_avatar2.png" alt="Avatar" class="avatar">
					</div>
				
					<div class="container-col container">
						<label for="username"><b>Username</b></label>
						<input type="text" placeholder="Enter Username" name="username" autocomplete="username" required>
					
						<label for="password"><b>Password</b></label>
						<input type="password" placeholder="Enter Password" name="password" autocomplete="current-password" required>
							
						<button class="w3-round" type="submit">Login</button>

						<% if (Config.google) { %>
							<i class="text-center">or</i>
							<a class="w3-round w3-blue text-center button nounderline" href="/auth/google/callback"><i class="fa fa-google margin-right"></i>Login with Gmail</a>
						<% } %>

						<label>
							<input type="checkbox" class="checkbox" checked="checked" name="remember_me"> Remember me
						</label>
					</div>
				
					<div class="container" >
					<!-- <button type="button" class="cancelbtn">Cancel</button> -->
					<span class="psw">Forgot <a href="#">password?</a></span>
					</div>
				</form>

				<%- include static/more.html %>
			</div>
			<div class="w3-third w3-container" style="margin-top: 30px;">
				
				<%- include static/features.html %>
				<%- include static/links.html %>
				<%- include release %>
				
			</div>

		</div>

		<%- include footer %>

	</div>
</div>

<!-- <script>
	const header = document.querySelector('header');

	if (header) {

		const images = ['/ui/svg/github.svg', '/ui/svg/team.svg'];

		let i = 0;

		setInterval(() => {
			console.debug('Changing background:', i);
			header.style.backgroundImage = `url('${images[i++ % images.length]}')`;
		}, 10000);
	}
</script> -->
