<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<head>
		<title><%- Config.title %></title>

		<link rel="stylesheet" href="/app.css">
		<link rel="stylesheet" href="/site.css">
	</head>
	<body class="column" mobile="<%- isMobile %>">
		<header class="cr ci m10 w3-padding" style="box-shadow: var(--shadow-bottom);">
			<% if (!isMobile) { %>
				<img class="x64" src="<%- Config.product.logo %>">
			<% } %>
			<div class="cc m2 fit">
				<h1 class="wm8 text-stroke nomargin"><%- Config.product.name %></h1>
				<b><%- Config.company.name %></b>
				<i class="smaller"><%- Config.company.desc %></i>
			</div>
			<span class="cr ci m10 smaller baseline nounderline">
				<a href="/" class="cr ci"><i class="fa sm wm6 margin-right-tiny fa-home"></i>home</a>
				<a href="/trac" class="cr ci">trac</a>
				<a href="/doc/wiki" class="cr ci">wiki</a>
			</span>
		</header>

		<div class="scroll-area custom cc m15">

			<div class="w3-container w3-padding max-width wider center">

				<div class="md light inconsolata-p">
					<h1 id="privacy-policy">Privacy Policy</h1>
					<p>This Privacy Policy governs the manner in which <strong>Web Messenger</strong> collects, uses, maintains, and discloses information collected from users (each, a &quot;User&quot;) of the <strong>Web Messenger</strong> website and any associated software applications (&quot;App&quot;).</p>
					<h2 id="information-collection-and-use">Information Collection and Use</h2>
					<p><strong>Web Messenger</strong> does not collect any personally identifiable information from Users of the App. The App may collect non-personal identification information about Users whenever they interact with the App. This information may include the browser name, the type of computer or device, and technical information about Users&#39; means of connection to the App, such as the operating system and the Internet service providers utilized.</p>
					<h2 id="web-browser-cookies">Web Browser Cookies</h2>
					<p>The App may use &quot;cookies&quot; to enhance User experience. Users&#39; web browsers place cookies on their hard drives for record-keeping purposes and sometimes to track information about them. Users may choose to set their web browsers to refuse cookies or to alert you when cookies are being sent. If they do so, note that some parts of the App may not function properly.</p>
					<h2 id="how-we-use-collected-information">How We Use Collected Information</h2>
					<p><strong>Web Messenger</strong> may collect and use Users&#39; personal information for the following purposes:</p>
					<ul>
					<li>To improve customer service: Information you provide helps us respond to your customer service requests and support needs more efficiently.</li>
					<li>To personalize user experience: We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our App.</li>
					<li>To improve our App: We may use feedback you provide to improve our products and services.</li>
					</ul>
					<h2 id="sharing-your-personal-information">Sharing Your Personal Information</h2>
					<p>We do not sell, trade, or rent Users&#39; personal identification information to others.</p>
					<h2 id="changes-to-this-privacy-policy">Changes to This Privacy Policy</h2>
					<p><strong>Web Messenger</strong> has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>
					<h2 id="your-acceptance-of-these-terms">Your Acceptance of These Terms</h2>
					<p>By using this App, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our App. Your continued use of the App following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
					<h2 id="contacting-us">Contacting Us</h2>
					<p>If you have any questions about this Privacy Policy, the practices of this App, or your dealings with this App, please contact us at <a href="mailto:&#116;&#x65;&#97;&#x6d;&#46;&#102;&#x72;&#x65;&#101;&#x74;&#97;&#108;&#107;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#x6f;&#109;">&#116;&#x65;&#97;&#x6d;&#46;&#102;&#x72;&#x65;&#101;&#x74;&#97;&#108;&#107;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#x6f;&#109;</a>.</p>
					<p>This document was last updated on 12 Dec 2023.</p>
				</div>

				<%- include footer %>
			</div>
		</div>
	</body>
</html>
