
<h2 class="text-stroke wm6 w3-indigo w3-padding w3-round">Tickets</h2>

<div class="list2 list nounderline">


<% for (let i of data) { %>

	<a href="/trac/<%- i.id %>" class="item cc w3-padding w3-border-bottom">
		<span class="cr ci">
			<h3 class="nomargin text-stroke wm8 ellipsis fit"><%- i.summary %></h3>
			<b class="wm6">#<%- i.id %></b>
		</span>
		<div class="cr m10 monospace smaller">
			<span class="cr ci"><b>Status:</b><i><%- i.status %></i></span>
			<span class="cr ci"><b>Type:</b><i><%- i.type %></i></span>
			<span class="cr ci"><b>Component:</b><i><%- i.component %></i></span>
			<span class="cr ci"><b>Priority:</b><i><%- i.priority %></i></span>
		</div>
	</a>

<% } %>

</div>